.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-shrink: 4;
  max-height: 95vh;
  min-height: 95vh;
}

.main {
  display: block;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 4; */
}

.contents {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-shrink: 4;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 4;
}

.sectionRight,
.sectionLeft {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  flex-shrink: 4;
}

.sectionLeft {
  max-width: 600px;
}