.menuButton {
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.menuLink {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-shrink: 4;
  text-decoration: none;
  color: unset;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}

.order4 {
  order: 4;
}

.order5 {
  order: 5;
}

.order6 {
  order: 6;
}

.order7 {
  order: 7;
}

.order8 {
  order: 8;
}

.order9 {
  order: 9;
}

