.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 2;
}

.itemPin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 2;
  justify-content: flex-end;
}

.icon {
  margin-right: 12px;
  cursor: move;
}
